POSTGRES_DB=appdb
POSTGRES_SUPERUSER=admin
POSTGRES_SUPERPASS=adminpass
APP_DB_USER=app
APP_DB_PASSWORD=apppass
REPLICATION_USER=replicator
REPLICATION_PASSWORD=replicatorpass
PRIMARY_PORT=5435
REPLICA_PORT=5436
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin123
BACKUP_INTERVAL_SECONDS=300